<table class = "table">
   <thead>
     <tr>
       <th>一覧</th>
     </tr>
   </thead>
    <% @hosts.each do |f| %>
       <tbody>
         <tr>
           <td>

               <%= link_to f.title, host_path(f) %>
               <%= f.body %>
           </td>
         </tr>
       </tbody>
    <% end %>
</table>

